<a href="https://colab.research.google.com/github/nhatminh-01/mwg/blob/main/transform_data_mwg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [151]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [152]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, when, regexp_replace, regexp_extract, initcap, concat_ws, length, col, lpad
from pyspark.sql.types import StringType
import os
import pandas as pd

In [ ]:
current_dir = os.getcwd()
print(current_dir)

/content

In [ ]:
spark = SparkSession.builder.getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f564dcd7d30>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
current_dir = '/content/drive/MyDrive/mwg/thegioididong'
#current_dir = '/content/drive/MyDrive/mwg'

#Function CSV

**Function Read CSV**

In [ ]:
def read_csv(dir):
    data = spark.read \
        .format('csv') \
        .option('header', 'true') \
        .load(current_dir + dir)

    return data

Function To CSV

In [ ]:
def to_csv(data, dir):
    data.to_csv(current_dir + dir, index=False)

# **Smart Phone**

Brand Mobile Phone

In [ ]:
brand = read_csv('/raw/brand/brand_mobile_phone.csv')

In [ ]:
brand.toPandas()

,link,link_logo,brand_id
0,https://www.thegioididong.com/dtdd-apple-iphone,https://cdn.tgdd.vn/Brand/1/logo-iphone-220x48...,01
1,https://www.thegioididong.com/dtdd-samsung,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...,02
2,https://www.thegioididong.com/dtdd-oppo,https://cdn.tgdd.vn/Brand/1/OPPO42-b_5.jpg,03
3,https://www.thegioididong.com/dtdd-xiaomi,https://cdn.tgdd.vn/Brand/1/logo-xiaomi-220x48...,04
4,https://www.thegioididong.com/dtdd-vivo,https://cdn.tgdd.vn/Brand/1/vivo-logo-220-220x...,05
5,https://www.thegioididong.com/dtdd-realme,https://cdn.tgdd.vn/Brand/1/Realme42-b_37.png,06
6,https://www.thegioididong.com/dtdd-nokia,https://cdn.tgdd.vn/Brand/1/Nokia42-b_21.jpg,07
7,https://www.thegioididong.com/dtdd-masstel,https://cdn.tgdd.vn/Brand/1/Masstel42-b_0.png,08
8,https://www.thegioididong.com/dtdd-itel,https://cdn.tgdd.vn/Brand/1/Itel42-b_54.jpg,09
9,https://www.thegioididong.com/dtdd-mobell,https://cdn.tgdd.vn/Brand/1/Mobell42-b_19.jpg,10

 brand_name



*   Get brand_name
*   Transform to initcap: This function capitalizes the first letter of each word in a string

In [ ]:
brand = brand.withColumn('brand_name', initcap(split(brand.link, '-')[1]))
brand.toPandas()

,link,link_logo,brand_id,brand_name
0,https://www.thegioididong.com/dtdd-apple-iphone,https://cdn.tgdd.vn/Brand/1/logo-iphone-220x48...,01,Apple
1,https://www.thegioididong.com/dtdd-samsung,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...,02,Samsung
2,https://www.thegioididong.com/dtdd-oppo,https://cdn.tgdd.vn/Brand/1/OPPO42-b_5.jpg,03,Oppo
3,https://www.thegioididong.com/dtdd-xiaomi,https://cdn.tgdd.vn/Brand/1/logo-xiaomi-220x48...,04,Xiaomi
4,https://www.thegioididong.com/dtdd-vivo,https://cdn.tgdd.vn/Brand/1/vivo-logo-220-220x...,05,Vivo
5,https://www.thegioididong.com/dtdd-realme,https://cdn.tgdd.vn/Brand/1/Realme42-b_37.png,06,Realme
6,https://www.thegioididong.com/dtdd-nokia,https://cdn.tgdd.vn/Brand/1/Nokia42-b_21.jpg,07,Nokia
7,https://www.thegioididong.com/dtdd-masstel,https://cdn.tgdd.vn/Brand/1/Masstel42-b_0.png,08,Masstel
8,https://www.thegioididong.com/dtdd-itel,https://cdn.tgdd.vn/Brand/1/Itel42-b_54.jpg,09,Itel
9,https://www.thegioididong.com/dtdd-mobell,https://cdn.tgdd.vn/Brand/1/Mobell42-b_19.jpg,10,Mobell

In [ ]:
brand = brand.select('brand_id','brand_name', 'link', 'link_logo')
brand.toPandas()

,brand_id,brand_name,link,link_logo
0,01,Apple,https://www.thegioididong.com/dtdd-apple-iphone,https://cdn.tgdd.vn/Brand/1/logo-iphone-220x48...
1,02,Samsung,https://www.thegioididong.com/dtdd-samsung,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...
2,03,Oppo,https://www.thegioididong.com/dtdd-oppo,https://cdn.tgdd.vn/Brand/1/OPPO42-b_5.jpg
3,04,Xiaomi,https://www.thegioididong.com/dtdd-xiaomi,https://cdn.tgdd.vn/Brand/1/logo-xiaomi-220x48...
4,05,Vivo,https://www.thegioididong.com/dtdd-vivo,https://cdn.tgdd.vn/Brand/1/vivo-logo-220-220x...
5,06,Realme,https://www.thegioididong.com/dtdd-realme,https://cdn.tgdd.vn/Brand/1/Realme42-b_37.png
6,07,Nokia,https://www.thegioididong.com/dtdd-nokia,https://cdn.tgdd.vn/Brand/1/Nokia42-b_21.jpg
7,08,Masstel,https://www.thegioididong.com/dtdd-masstel,https://cdn.tgdd.vn/Brand/1/Masstel42-b_0.png
8,09,Itel,https://www.thegioididong.com/dtdd-itel,https://cdn.tgdd.vn/Brand/1/Itel42-b_54.jpg
9,10,Mobell,https://www.thegioididong.com/dtdd-mobell,https://cdn.tgdd.vn/Brand/1/Mobell42-b_19.jpg

In [ ]:
brand = brand.withColumnRenamed("link", "link_brand")
brand.toPandas()

,brand_id,brand_name,link_brand,link_logo
0,01,Apple,https://www.thegioididong.com/adapter-sac-apple,https://cdn.tgdd.vn/Brand/1/Apple9499-b_28.jpg
1,02,Samsung,https://www.thegioididong.com/adapter-sac-samsung,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...
2,03,Anker,https://www.thegioididong.com/adapter-sac-anker,https://cdn.tgdd.vn/Brand/1/Anker9499-b_18.png
3,04,Xmobile,https://www.thegioididong.com/adapter-sac-xmobile,https://cdn.tgdd.vn/Brand/1/Xmobile9499-b_10.jpg
4,05,Ava,https://www.thegioididong.com/adapter-sac-ava-...,https://cdn.tgdd.vn/Brand/1/220-48-220x48-11.jpg
5,06,Ava,https://www.thegioididong.com/adapter-sac-ava,https://cdn.tgdd.vn/Brand/1/AVA9499-b_55.jpg
6,07,Oppo,https://www.thegioididong.com/adapter-sac-oppo,https://cdn.tgdd.vn/Brand/1/OPPO-220x48-1.jpeg
7,08,Belkin,https://www.thegioididong.com/adapter-sac-belkin,https://cdn.tgdd.vn/Brand/1/Belkin9499-b_39.jpg
8,09,Aukey,https://www.thegioididong.com/adapter-sac-aukey,https://cdn.tgdd.vn/Brand/1/AUKEY9499-b_38.png
9,10,Mbest,https://www.thegioididong.com/adapter-sac-mbest,https://cdn.tgdd.vn/Brand/1/Mbest9499-b_21.jpg
10,11,Mophie,https://www.thegioididong.com/adapter-sac-mophie,https://cdn.tgdd.vn/Brand/1/Mophie9499-b_6.jpg
11,12,Vcom,https://www.thegioididong.com/adapter-sac-vcom,https://cdn.tgdd.vn/Brand/1/logovcom-220x48-1.png
12,13,Philips,https://www.thegioididong.com/adapter-sac-philips,https://cdn.tgdd.vn/Brand/1/Philips9499-b_26.png
13,14,Hydrus,https://www.thegioididong.com/adapter-sac-hydrus,https://cdn.tgdd.vn/Brand/1/hydrus-logo-lon-22...
14,15,Evalu,https://www.thegioididong.com/adapter-sac-evalu,https://cdn.tgdd.vn/Brand/1/eValu9499-b_0.jpg
15,16,Mazer,https://www.thegioididong.com/adapter-sac-mazer,https://cdn.tgdd.vn/Brand/1/JPG-220x48-5.jpg

Mobile Phone

In [ ]:
product = read_csv('/raw/product/mobile_phone.csv')

In [ ]:
product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,devices
0,iPhone 14 Pro Max 128GB,26.990.000₫,29.990.000₫,-10%,320,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,24.990.000₫,27.990.000₫,-10%,160,https://www.thegioididong.com/dtdd/iphone-14-pro,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19.390.000₫,21.990.000₫,-11%,98,https://www.thegioididong.com/dtdd/iphone-14,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21.790.000₫,24.990.000₫,-12%,88,https://www.thegioididong.com/dtdd/iphone-14-plus,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,41.990.000₫,43.990.000₫,-4%,37,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
134,Mobell Rock 4 4G,810.000₫,None,None,62,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
135,Mobell F309 4G,760.000₫,None,None,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
136,Mobell M539 4G,700.000₫,None,None,60,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
137,Mobell F209 4G,620.000₫,None,None,24,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
138,Mobell M239 4G,390.000₫,500.000₫,-22%,118,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

In [ ]:
product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,devices
0,iPhone 14 Pro Max 128GB,26.990.000₫,29.990.000₫,-10%,320,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,24.990.000₫,27.990.000₫,-10%,160,https://www.thegioididong.com/dtdd/iphone-14-pro,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19.390.000₫,21.990.000₫,-11%,98,https://www.thegioididong.com/dtdd/iphone-14,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21.790.000₫,24.990.000₫,-12%,88,https://www.thegioididong.com/dtdd/iphone-14-plus,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,41.990.000₫,43.990.000₫,-4%,37,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
134,Mobell Rock 4 4G,810.000₫,None,None,62,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
135,Mobell F309 4G,760.000₫,None,None,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
136,Mobell M539 4G,700.000₫,None,None,60,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
137,Mobell F209 4G,620.000₫,None,None,24,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
138,Mobell M239 4G,390.000₫,500.000₫,-22%,118,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

**current_price**

regex: get number is column current_price, regex will remove not number [^\d+]

In [ ]:
product = product.withColumn(
    'current_price', regexp_replace(product.current_price, r'[^\d+]', '').cast('integer'))
product = product.withColumn("current_price", regexp_replace(product.current_price, r'\..*', ''))
product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,devices
0,iPhone 14 Pro Max 128GB,26990000,29.990.000₫,-10%,320,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,24990000,27.990.000₫,-10%,160,https://www.thegioididong.com/dtdd/iphone-14-pro,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19390000,21.990.000₫,-11%,98,https://www.thegioididong.com/dtdd/iphone-14,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21790000,24.990.000₫,-12%,88,https://www.thegioididong.com/dtdd/iphone-14-plus,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,41990000,43.990.000₫,-4%,37,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
134,Mobell Rock 4 4G,810000,None,None,62,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
135,Mobell F309 4G,760000,None,None,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
136,Mobell M539 4G,700000,None,None,60,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
137,Mobell F209 4G,620000,None,None,24,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
138,Mobell M239 4G,390000,500.000₫,-22%,118,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

**price**


*   same as current_price
*   but price have value NaN
    - if null: price will = current_price
    - if not null: will transform

In [ ]:
product = product.withColumn(
    'price', when(product.price.isNull(), product.current_price) \
    .otherwise(regexp_replace(product.price, r'[^\d+]', '')).cast('integer')
)
product = product.withColumn("price", regexp_replace(product.price, r'\..*', ''))

product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,devices
0,iPhone 14 Pro Max 128GB,26990000,29990000,-10%,320,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,24990000,27990000,-10%,160,https://www.thegioididong.com/dtdd/iphone-14-pro,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19390000,21990000,-11%,98,https://www.thegioididong.com/dtdd/iphone-14,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21790000,24990000,-12%,88,https://www.thegioididong.com/dtdd/iphone-14-plus,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,41990000,43990000,-4%,37,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
134,Mobell Rock 4 4G,810000,810000,None,62,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
135,Mobell F309 4G,760000,760000,None,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
136,Mobell M539 4G,700000,700000,None,60,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
137,Mobell F209 4G,620000,620000,None,24,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
138,Mobell M239 4G,390000,500000,-22%,118,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

**percent_discount**
- if percent_discount null: will = 0
- else: will transfrom, get number '\d+'

In [ ]:
product = product.withColumn(
    'percent_discount', when(product.percent_discount.isNull(), 0) \
    .otherwise(regexp_extract(product.percent_discount, '\d+', 0)).cast('integer')
)
product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,devices
0,iPhone 14 Pro Max 128GB,26990000,29990000,10,320,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,24990000,27990000,10,160,https://www.thegioididong.com/dtdd/iphone-14-pro,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19390000,21990000,11,98,https://www.thegioididong.com/dtdd/iphone-14,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21790000,24990000,12,88,https://www.thegioididong.com/dtdd/iphone-14-plus,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,41990000,43990000,4,37,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
134,Mobell Rock 4 4G,810000,810000,0,62,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
135,Mobell F309 4G,760000,760000,0,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
136,Mobell M539 4G,700000,700000,0,60,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
137,Mobell F209 4G,620000,620000,0,24,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
138,Mobell M239 4G,390000,500000,22,118,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

**rating**
- if null: fill 0
- else: not change

In [ ]:
product = product.withColumn(
    'rating', when(product.rating.isNull(), 0) \
    .otherwise(product.rating).cast('integer')
)
product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,devices
0,iPhone 14 Pro Max 128GB,26990000,29990000,10,320,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,24990000,27990000,10,160,https://www.thegioididong.com/dtdd/iphone-14-pro,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19390000,21990000,11,98,https://www.thegioididong.com/dtdd/iphone-14,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21790000,24990000,12,88,https://www.thegioididong.com/dtdd/iphone-14-plus,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,41990000,43990000,4,37,https://www.thegioididong.com/dtdd/iphone-14-p...,1,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
134,Mobell Rock 4 4G,810000,810000,0,62,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
135,Mobell F309 4G,760000,760000,0,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
136,Mobell M539 4G,700000,700000,0,60,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
137,Mobell F209 4G,620000,620000,0,24,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
138,Mobell M239 4G,390000,500000,22,118,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

In [ ]:
product.printSchema()

root
 |-- product_name: string (nullable = true)
 |-- current_price: string (nullable = true)
 |-- price: string (nullable = true)
 |-- percent_discount: integer (nullable = true)
 |-- rating: integer (nullable = true)
 |-- link: string (nullable = true)
 |-- brand_id: string (nullable = true)
 |-- series: string (nullable = true)
 |-- devices: string (nullable = true)

In [ ]:
merged_data = product.join(brand, on='brand_id', how='left')

In [ ]:
product = merged_data.select('product_name', 'current_price', 'price', 'percent_discount', 'rating', 'series','link', 'devices','brand_name')
product.toPandas()

,product_name,current_price,price,percent_discount,rating,series,link,devices,brand_name
0,iPhone 14 Pro Max 128GB,26990000,29990000,10,320,"iPhone 14 (Plus, Pro, Pro Max)",https://www.thegioididong.com/dtdd/iphone-14-p...,Smartphone,Apple
1,iPhone 14 Pro 128GB,24990000,27990000,10,160,"iPhone 14 (Plus, Pro, Pro Max)",https://www.thegioididong.com/dtdd/iphone-14-pro,Smartphone,Apple
2,iPhone 14 128GB,19390000,21990000,11,98,"iPhone 14 (Plus, Pro, Pro Max)",https://www.thegioididong.com/dtdd/iphone-14,Smartphone,Apple
3,iPhone 14 Plus 128GB,21790000,24990000,12,88,"iPhone 14 (Plus, Pro, Pro Max)",https://www.thegioididong.com/dtdd/iphone-14-plus,Smartphone,Apple
4,iPhone 14 Pro Max 1TB,41990000,43990000,4,37,"iPhone 14 (Plus, Pro, Pro Max)",https://www.thegioididong.com/dtdd/iphone-14-p...,Smartphone,Apple
...,...,...,...,...,...,...,...,...,...
134,Mobell Rock 4 4G,810000,810000,0,62,None,https://www.thegioididong.com/dtdd/mobell-rock-4,Smartphone,Mobell
135,Mobell F309 4G,760000,760000,0,34,None,https://www.thegioididong.com/dtdd/mobell-f309,Smartphone,Mobell
136,Mobell M539 4G,700000,700000,0,60,None,https://www.thegioididong.com/dtdd/mobell-m539,Smartphone,Mobell
137,Mobell F209 4G,620000,620000,0,24,None,https://www.thegioididong.com/dtdd/mobell-f209,Smartphone,Mobell
138,Mobell M239 4G,390000,500000,22,118,None,https://www.thegioididong.com/dtdd/mobell-m239,Smartphone,Mobell

In [ ]:
product = product.filter(col("price").isNotNull())

In [ ]:
brand = brand.select('brand_name')
brand.toPandas()

  brand_name
0      Apple
1    Samsung
2       Oppo
3     Xiaomi
4       Vivo
5     Realme
6      Nokia
7    Masstel
8       Itel
9     Mobell

In [ ]:
df = brand.toPandas()
output_path = '/content/drive/MyDrive/thegioididong/transformed/brand/mobile_phone.csv'
df.to_csv(output_path, index=False)

In [ ]:
df = product.toPandas()
output_path = '/content/drive/MyDrive/thegioididong/transformed/product/mobile_phone.csv'
df.to_csv(output_path, index=False)

## **`Transform Multi Data`**

Write Function Transform Brand Multi Data

In [ ]:
def check_contains(brand, devices):
    return brand.filter(brand.link.contains(devices)).count() > 0

In [ ]:
def brand_transform(dir_read, dir_to):
    # read csv
    brand = read_csv(dir_read)

    # brand name
    if check_contains(brand, 'adapter-sac') \
       or check_contains(brand, 'sac-dtdd') \
       or check_contains(brand, 'tai-nghe') \
       or check_contains(brand, 'loa-laptop'):
        brand_for_product = brand.withColumn('b_o', initcap(split(brand.link, '-')[2]))
        brand_for_product = brand_for_product.withColumn('b_t', initcap(split(brand_for_product.link, '-')[3]))
        brand_for_product = brand_for_product.withColumn('brand_name', concat_ws(' ', brand_for_product.b_o, brand_for_product.b_t))
    elif check_contains(brand, 'cap-dien-thoai'):
        brand_for_product = brand.withColumn('b_o', initcap(split(brand.link, '-')[3]))
        brand_for_product = brand_for_product.withColumn('b_t', initcap(split(brand_for_product.link, '-')[4]))
        brand_for_product = brand_for_product.withColumn('brand_name', concat_ws(' ', brand_for_product.b_o, brand_for_product.b_t))
    elif check_contains(brand, 'laptop') \
         or check_contains(brand, 'dtdd'):
        brand_for_product = brand.withColumn('brand_name', initcap(split(brand.link, '-')[1]))
    elif check_contains(brand, 'may-tinh-bang'):
        brand_for_product = brand.withColumn('brand_name', initcap(split(brand.link, '-')[3]))

    else:
        brand_for_product = brand.withColumn('b_o', initcap(split(brand.link, '-')[4]))
        brand_for_product = brand_for_product.withColumn('b_t', initcap(split(brand_for_product.link, '-')[5]))
        brand_for_product = brand_for_product.withColumn('brand_name', concat_ws(' ', brand_for_product.b_o, brand_for_product.b_t))

    brand_for_product = brand_for_product.select('brand_id', 'brand_name', 'link', 'link_logo')

    # select column
    brand = brand_for_product.select('brand_name')

    # to csv brand
    to_csv(brand.toPandas(), dir_to)

    return brand_for_product

In [ ]:
brand_adapter_charger = brand_transform('/raw/brand/brand_adapter_charger.csv', '/transformed/brand/brand_adapter_charger.csv')
brand_backup_charger = brand_transform('/raw/brand/brand_backup_charger.csv', '/transformed/brand/brand_backup_charger.csv')
brand_cables = brand_transform('/raw/brand/brand_cables.csv', '/transformed/brand/brand_cables.csv')
brand_headphone = brand_transform('/raw/brand/brand_headphone.csv', '/transformed/brand/brand_headphone.csv')
brand_laptop_speaker = brand_transform('/raw/brand/brand_laptop_speaker.csv', '/transformed/brand/brand_laptop_speaker.csv')
brand_laptop = brand_transform('/raw/brand/brand_laptop.csv', '/transformed/brand/brand_laptop.csv')
brand_mobile_phone = brand_transform('/raw/brand/brand_mobile_phone.csv', '/transformed/brand/brand_mobile_phone.csv')
brand_smartwatch = brand_transform('/raw/brand/brand_smartwatch.csv', '/transformed/brand/brand_smartwatch.csv')
brand_tablet = brand_transform('/raw/brand/brand_tablet.csv', '/transformed/brand/brand_tablet.csv')

# **Write Function Transform Product Multi Data**

In [ ]:
def product_tranform(dir_read, dir_to_product, dir_to_brand_d, brand_for_product):
    # read csv
    product = read_csv(dir_read)

    # current price
    product = product.withColumn(
        'current_price', regexp_replace(product.current_price, r'[^\d+]', '').cast('integer')
    )

    # price
    product = product.withColumn(
        'price', when(product.price.isNull(), product.current_price) \
        .otherwise(regexp_replace(product.price, r'[^\d+]', '')).cast('integer')
    )

    # percent discount
    product = product.withColumn(
        'percent_discount', when(product.percent_discount.isNull(), 0) \
        .otherwise(regexp_extract(product.percent_discount, '\d+', 0)).cast('integer')
    )

    # rating
    product = product.withColumn(
        'rating', when(product.rating.isNull(), 0) \
        .otherwise(product.rating).cast('integer')
    )

    # merge brand data
    product = product.withColumn("brand_id", lpad(product["brand_id"], 2, "0"))

    product = product.join(
        brand_for_product.select('brand_id', 'brand_name'), on='brand_id', how='inner'
    )

    # rename
    product = product.withColumnsRenamed({'devices':'genre_name'})

    '''brand details'''
    product_for_brand = brand_for_product.join(
        product.select('brand_id', 'genre_name'), on='brand_id', how='inner'
    )

    product_for_brand = product_for_brand.select('brand_name', 'genre_name', 'link', 'link_logo').distinct()


    # select column
    product = product.withColumnRenamed('devices', 'genre_name')
    product = product.select('product_name', 'current_price', 'price', 'percent_discount', 'rating', 'series', 'link', 'genre_name', 'brand_name')


    # to csv product
    to_csv(product.toPandas(), dir_to_product)

    # to csv brand details
    to_csv(product_for_brand.toPandas(), dir_to_brand_d)

In [ ]:
product_tranform('/raw/product/adapter_charger.csv', '/transformed/product/adapter_charger.csv', '/transformed/brand_details/brand_adapter_charger.csv', brand_adapter_charger)
product_tranform('/raw/product/backup_charger.csv', '/transformed/product/backup_charger.csv', '/transformed/brand_details/brand_backup_charger.csv', brand_backup_charger)
product_tranform('/raw/product/cables.csv', '/transformed/product/cables.csv', '/transformed/brand_details/brand_cables.csv', brand_cables)
product_tranform('/raw/product/headphone.csv', '/transformed/product/headphone.csv', '/transformed/brand_details/brand_headphone.csv', brand_headphone)
product_tranform('/raw/product/laptop_speaker.csv', '/transformed/product/laptop_speaker.csv', '/transformed/brand_details/brand_laptop_speaker.csv', brand_laptop_speaker)
product_tranform('/raw/product/laptop.csv', '/transformed/product/laptop.csv', '/transformed/brand_details/brand_laptop.csv', brand_laptop)
product_tranform('/raw/product/mobile_phone.csv', '/transformed/product/mobile_phone.csv', '/transformed/brand_details/brand_mobile_phone.csv', brand_mobile_phone)
product_tranform('/raw/product/smartwatch.csv', '/transformed/product/smartwatch.csv', '/transformed/brand_details/brand_smartwatch.csv', brand_smartwatch)
product_tranform('/raw/product/tablet.csv', '/transformed/product/tablet.csv', '/transformed/brand_details/brand_tablet.csv', brand_tablet)

## Table Brands

In [ ]:
brand_adapter_charger = read_csv('/transformed/brand/brand_adapter_charger.csv')
brand_backup_charger = read_csv('/transformed/brand/brand_backup_charger.csv')
brand_cables = read_csv('/transformed/brand/brand_cables.csv')
brand_headphone = read_csv('/transformed/brand/brand_headphone.csv')
brand_laptop_speaker = read_csv('/transformed/brand/brand_laptop_speaker.csv')
brand_laptop = read_csv('/transformed/brand/brand_laptop.csv')
brand_mobile_phone = read_csv('/transformed/brand/brand_mobile_phone.csv')
brand_smartwatch = read_csv('/transformed/brand/brand_smartwatch.csv')
brand_tablet = read_csv('/transformed/brand/brand_tablet.csv')

In [ ]:
brands = brand_adapter_charger \
         .union(brand_backup_charger) \
         .union(brand_cables) \
         .union(brand_headphone) \
         .union(brand_laptop_speaker) \
         .union(brand_laptop) \
         .union(brand_mobile_phone) \
         .union(brand_smartwatch) \
         .union(brand_tablet) \
         .distinct()

# brands = brands.sort(brands.brand_name.asc())

brands = brands.toPandas()
brands

       brand_name
0          Belkin
1           Mbest
2          Mophie
3             Ava
4          Hydrus
..            ...
70           Imoo
71        Kidcare
72          Befit
73          Honor
74  Huami Amazfit

[75 rows x 1 columns]

In [ ]:
id = []
for i in range(1, len(brands)+1):
    if i < 10:
        id.append('010' + str(i))
    else:
        id.append('01' + str(i))

brands['brand_id'] = id

# sort column
brands = brands[['brand_id', 'brand_name']]

brands

   brand_id     brand_name
0      0101         Belkin
1      0102          Mbest
2      0103         Mophie
3      0104            Ava
4      0105         Hydrus
..      ...            ...
70     0171           Imoo
71     0172        Kidcare
72     0173          Befit
73     0174          Honor
74     0175  Huami Amazfit

[75 rows x 2 columns]

In [ ]:
to_csv(brands, '/transformed/brand/brands.csv')

In [ ]:
brands = read_csv('/transformed/brand/brands.csv')
brands.toPandas()

   brand_id     brand_name
0      0101         Belkin
1      0102          Mbest
2      0103         Mophie
3      0104            Ava
4      0105         Hydrus
..      ...            ...
70     0171           Imoo
71     0172        Kidcare
72     0173          Befit
73     0174          Honor
74     0175  Huami Amazfit

[75 rows x 2 columns]

**Table Genres**

In [ ]:
genres = pd.DataFrame()

genre = [
    'Adapter Charger',
    'Backup Charger',
    'Cables',
    'Headphone',
    'Laptop Speaker',
    'Laptop',
    'Mobile Phone',
    'SmartWatch',
    'Tablet'
]

id = []
company_id = []
for i in range(1, len(genre)+1):
    if i < 10:
        id.append('010' + str(i))
    else:
        id.append('01' + str(i))
    company_id.append('01')

genres['genre_id'] = id
genres['genre_name'] = genre
genres['company_id'] = company_id

genres

  genre_id       genre_name company_id
0     0101  Adapter Charger         01
1     0102   Backup Charger         01
2     0103           Cables         01
3     0104        Headphone         01
4     0105   Laptop Speaker         01
5     0106           Laptop         01
6     0107     Mobile Phone         01
7     0108       SmartWatch         01
8     0109           Tablet         01

In [ ]:
to_csv(genres, '/transformed/genre/genres.csv')

Table Brand Details

In [ ]:
brand_adapter_charger = read_csv('/transformed/brand_details/brand_adapter_charger.csv')
brand_backup_charger = read_csv('/transformed/brand_details/brand_backup_charger.csv')
brand_cables = read_csv('/transformed/brand_details/brand_cables.csv')
brand_headphone = read_csv('/transformed/brand_details/brand_headphone.csv')
brand_laptop_speaker = read_csv('/transformed/brand_details/brand_laptop_speaker.csv')
brand_laptop = read_csv('/transformed/brand_details/brand_laptop.csv')
brand_mobile_phone = read_csv('/transformed/brand_details/brand_mobile_phone.csv')
brand_smartwatch = read_csv('/transformed/brand_details/brand_smartwatch.csv')
brand_tablet = read_csv('/transformed/brand_details/brand_tablet.csv')

In [ ]:
genres = read_csv('/transformed/genre/genres.csv')
brands = read_csv('/transformed/brand/brands.csv')

In [ ]:
brand_details = brand_adapter_charger \
                .union(brand_backup_charger) \
                .union(brand_cables) \
                .union(brand_headphone) \
                .union(brand_laptop_speaker) \
                .union(brand_laptop) \
                .union(brand_mobile_phone) \
                .union(brand_smartwatch) \
                .union(brand_tablet) \
                .distinct()

brand_details.toPandas()

,brand_name,genre_name,link,link_logo
0,Evalu,Adapter Charger,https://www.thegioididong.com/adapter-sac-evalu,https://cdn.tgdd.vn/Brand/1/eValu9499-b_0.jpg
1,Apple,Adapter Charger,https://www.thegioididong.com/adapter-sac-apple,https://cdn.tgdd.vn/Brand/1/Apple9499-b_28.jpg
2,Ava Plus,Adapter Charger,https://www.thegioididong.com/adapter-sac-ava-...,https://cdn.tgdd.vn/Brand/1/220-48-220x48-11.jpg
3,Vcom,Adapter Charger,https://www.thegioididong.com/adapter-sac-vcom,https://cdn.tgdd.vn/Brand/1/logovcom-220x48-1.png
4,Xmobile,Adapter Charger,https://www.thegioididong.com/adapter-sac-xmobile,https://cdn.tgdd.vn/Brand/1/Xmobile9499-b_10.jpg
...,...,...,...,...
122,Oppo,Tablet,https://www.thegioididong.com/may-tinh-bang-oppo,https://cdn.tgdd.vn/Brand/1/OPPO-logo-lon-220x...
123,Apple,Tablet,https://www.thegioididong.com/may-tinh-bang-ap...,https://cdn.tgdd.vn/Brand/1/iPad-(Apple)522-b_...
124,Xiaomi,Tablet,https://www.thegioididong.com/may-tinh-bang-xi...,https://cdn.tgdd.vn/Brand/1/Tablet-xiaomi-220x...
125,Samsung,Tablet,https://www.thegioididong.com/may-tinh-bang-sa...,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...
126,Masstel,Tablet,https://www.thegioididong.com/may-tinh-bang-ma...,https://cdn.tgdd.vn/Brand/1/Masstel522-b_7.png

In [ ]:
brand_details = brand_details \
                .join(genres, on='genre_name', how='inner') \
                .join(brands, on='brand_name', how='inner')

brand_details = brand_details.toPandas()
brand_details

,brand_name,genre_name,link,link_logo,genre_id,company_id,brand_id
0,Evalu,Adapter Charger,https://www.thegioididong.com/adapter-sac-evalu,https://cdn.tgdd.vn/Brand/1/eValu9499-b_0.jpg,0101,01,0112
1,Apple,Adapter Charger,https://www.thegioididong.com/adapter-sac-apple,https://cdn.tgdd.vn/Brand/1/Apple9499-b_28.jpg,0101,01,0115
2,Ava Plus,Adapter Charger,https://www.thegioididong.com/adapter-sac-ava-...,https://cdn.tgdd.vn/Brand/1/220-48-220x48-11.jpg,0101,01,0116
3,Vcom,Adapter Charger,https://www.thegioididong.com/adapter-sac-vcom,https://cdn.tgdd.vn/Brand/1/logovcom-220x48-1.png,0101,01,0107
4,Xmobile,Adapter Charger,https://www.thegioididong.com/adapter-sac-xmobile,https://cdn.tgdd.vn/Brand/1/Xmobile9499-b_10.jpg,0101,01,0114
...,...,...,...,...,...,...,...
122,Oppo,Tablet,https://www.thegioididong.com/may-tinh-bang-oppo,https://cdn.tgdd.vn/Brand/1/OPPO-logo-lon-220x...,0109,01,0109
123,Apple,Tablet,https://www.thegioididong.com/may-tinh-bang-ap...,https://cdn.tgdd.vn/Brand/1/iPad-(Apple)522-b_...,0109,01,0115
124,Xiaomi,Tablet,https://www.thegioididong.com/may-tinh-bang-xi...,https://cdn.tgdd.vn/Brand/1/Tablet-xiaomi-220x...,0109,01,0127
125,Samsung,Tablet,https://www.thegioididong.com/may-tinh-bang-sa...,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...,0109,01,0110
126,Masstel,Tablet,https://www.thegioididong.com/may-tinh-bang-ma...,https://cdn.tgdd.vn/Brand/1/Masstel522-b_7.png,0109,01,0158

In [ ]:
brand_details = brand_details[['brand_id', 'genre_id', 'link', 'link_logo']]

In [ ]:
to_csv(brand_details, '/transformed/brand_details/brand_details.csv')

Tables Products

In [ ]:
adapter_charger = read_csv('/transformed/product/adapter_charger.csv')
backup_charger = read_csv('/transformed/product/backup_charger.csv')
cables = read_csv('/transformed/product/cables.csv')
headphone = read_csv('/transformed/product/headphone.csv')
laptop_speaker = read_csv('/transformed/product/laptop_speaker.csv')
laptop = read_csv('/transformed/product/laptop.csv')
mobile_phone = read_csv('/transformed/product/mobile_phone.csv')
smartwatch = read_csv('/transformed/product/smartwatch.csv')
tablet = read_csv('/transformed/product/tablet.csv')

In [ ]:
genres = read_csv('/transformed/genre/genres.csv')
brands = read_csv('/transformed/brand/brands.csv')

In [ ]:
products = adapter_charger \
           .union(backup_charger) \
           .union(cables) \
           .union(headphone) \
           .union(laptop_speaker) \
           .union(laptop) \
           .union(mobile_phone) \
           .union(smartwatch) \
           .union(tablet)

products.toPandas()

,product_name,current_price,price,percent_discount,rating,series,link,genre_name,brand_name
0,Sạc Apple 20W MHJE3,520000.0,690000.0,24,436,None,https://www.thegioididong.com/adapter-sac/adap...,Adapter Charger,Apple
1,Bộ chuyển đổi chân sạc Adapter Kit Apple MD837,980000.0,1090000.0,10,0,None,https://www.thegioididong.com/adapter-sac/chan...,Adapter Charger,Apple
2,Sạc Apple MGN13,270000.0,450000.0,40,55,None,https://www.thegioididong.com/adapter-sac/adap...,Adapter Charger,Apple
3,Bộ Adapter sạc kèm cáp Type C - Type C Samsung...,1070000.0,1190000.0,10,70,None,https://www.thegioididong.com/adapter-sac/bo-a...,Adapter Charger,Samsung
4,Sạc Samsung EP-TA800N,390000.0,490000.0,20,329,None,https://www.thegioididong.com/adapter-sac/type...,Adapter Charger,Samsung
...,...,...,...,...,...,...,...,...,...
1059,OPPO Pad Air 128GB,7990000,7990000,0,9,None,https://www.thegioididong.com/may-tinh-bang/op...,Tablet,Oppo
1060,OPPO Pad Air 64GB,6690000,6690000,0,53,None,https://www.thegioididong.com/may-tinh-bang/op...,Tablet,Oppo
1061,Masstel Tab 10S,2690000,2890000,6,93,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,Masstel
1062,Masstel Tab 10A,2690000,2790000,3,41,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,Masstel
1063,Masstel Tab 8.2,2390000,2490000,4,43,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,Masstel

In [ ]:
products = products \
           .join(genres, on='genre_name', how='inner') \
           .join(brands, on='brand_name', how='inner')
products = products.toPandas()
products

,brand_name,genre_name,product_name,current_price,price,percent_discount,rating,series,link,genre_id,company_id,brand_id
0,Apple,Adapter Charger,Sạc Apple 20W MHJE3,520000.0,690000.0,24,436,None,https://www.thegioididong.com/adapter-sac/adap...,0101,01,0115
1,Apple,Adapter Charger,Bộ chuyển đổi chân sạc Adapter Kit Apple MD837,980000.0,1090000.0,10,0,None,https://www.thegioididong.com/adapter-sac/chan...,0101,01,0115
2,Apple,Adapter Charger,Sạc Apple MGN13,270000.0,450000.0,40,55,None,https://www.thegioididong.com/adapter-sac/adap...,0101,01,0115
3,Samsung,Adapter Charger,Bộ Adapter sạc kèm cáp Type C - Type C Samsung...,1070000.0,1190000.0,10,70,None,https://www.thegioididong.com/adapter-sac/bo-a...,0101,01,0110
4,Samsung,Adapter Charger,Sạc Samsung EP-TA800N,390000.0,490000.0,20,329,None,https://www.thegioididong.com/adapter-sac/type...,0101,01,0110
...,...,...,...,...,...,...,...,...,...,...,...,...
1059,Oppo,Tablet,OPPO Pad Air 128GB,7990000,7990000,0,9,None,https://www.thegioididong.com/may-tinh-bang/op...,0109,01,0109
1060,Oppo,Tablet,OPPO Pad Air 64GB,6690000,6690000,0,53,None,https://www.thegioididong.com/may-tinh-bang/op...,0109,01,0109
1061,Masstel,Tablet,Masstel Tab 10S,2690000,2890000,6,93,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,01,0158
1062,Masstel,Tablet,Masstel Tab 10A,2690000,2790000,3,41,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,01,0158
1063,Masstel,Tablet,Masstel Tab 8.2,2390000,2490000,4,43,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,01,0158

In [ ]:
id = []
for i in range(1, len(products)+1):
    if i < 10:
        id.append('01000' + str(i))
    elif i < 100:
        id.append('0100' + str(i))
    elif i < 1000:
        id.append('010' + str(i))
    else:
        id.append('01' + str(i))

products['product_id'] = id

products

,brand_name,genre_name,product_name,current_price,price,percent_discount,rating,series,link,genre_id,company_id,brand_id,product_id
0,Apple,Adapter Charger,Sạc Apple 20W MHJE3,520000.0,690000.0,24,436,None,https://www.thegioididong.com/adapter-sac/adap...,0101,01,0115,010001
1,Apple,Adapter Charger,Bộ chuyển đổi chân sạc Adapter Kit Apple MD837,980000.0,1090000.0,10,0,None,https://www.thegioididong.com/adapter-sac/chan...,0101,01,0115,010002
2,Apple,Adapter Charger,Sạc Apple MGN13,270000.0,450000.0,40,55,None,https://www.thegioididong.com/adapter-sac/adap...,0101,01,0115,010003
3,Samsung,Adapter Charger,Bộ Adapter sạc kèm cáp Type C - Type C Samsung...,1070000.0,1190000.0,10,70,None,https://www.thegioididong.com/adapter-sac/bo-a...,0101,01,0110,010004
4,Samsung,Adapter Charger,Sạc Samsung EP-TA800N,390000.0,490000.0,20,329,None,https://www.thegioididong.com/adapter-sac/type...,0101,01,0110,010005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,Oppo,Tablet,OPPO Pad Air 128GB,7990000,7990000,0,9,None,https://www.thegioididong.com/may-tinh-bang/op...,0109,01,0109,011060
1060,Oppo,Tablet,OPPO Pad Air 64GB,6690000,6690000,0,53,None,https://www.thegioididong.com/may-tinh-bang/op...,0109,01,0109,011061
1061,Masstel,Tablet,Masstel Tab 10S,2690000,2890000,6,93,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,01,0158,011062
1062,Masstel,Tablet,Masstel Tab 10A,2690000,2790000,3,41,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,01,0158,011063
1063,Masstel,Tablet,Masstel Tab 8.2,2390000,2490000,4,43,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,01,0158,011064

In [ ]:
# select column
products = products[['product_id', 'product_name', 'current_price', 'price', 'percent_discount', 'rating', 'series', 'link', 'brand_id', 'genre_id']]

In [ ]:

to_csv(products, '/transformed/product/products.csv')

In [ ]:
products = read_csv('/transformed/product/products.csv')

In [ ]:
products = products \
           .join(genres, on='genre_id', how='inner') \
           .join(brands, on='brand_id', how='inner')
products.toPandas()

,brand_id,genre_id,product_id,product_name,current_price,price,percent_discount,rating,series,link,genre_name,company_id,brand_name
0,0115,0101,010001,Sạc Apple 20W MHJE3,520000.0,690000.0,24,436,None,https://www.thegioididong.com/adapter-sac/adap...,Adapter Charger,01,Apple
1,0115,0101,010002,Bộ chuyển đổi chân sạc Adapter Kit Apple MD837,980000.0,1090000.0,10,0,None,https://www.thegioididong.com/adapter-sac/chan...,Adapter Charger,01,Apple
2,0115,0101,010003,Sạc Apple MGN13,270000.0,450000.0,40,55,None,https://www.thegioididong.com/adapter-sac/adap...,Adapter Charger,01,Apple
3,0110,0101,010004,Bộ Adapter sạc kèm cáp Type C - Type C Samsung...,1070000.0,1190000.0,10,70,None,https://www.thegioididong.com/adapter-sac/bo-a...,Adapter Charger,01,Samsung
4,0110,0101,010005,Sạc Samsung EP-TA800N,390000.0,490000.0,20,329,None,https://www.thegioididong.com/adapter-sac/type...,Adapter Charger,01,Samsung
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,0109,0109,011060,OPPO Pad Air 128GB,7990000,7990000,0,9,None,https://www.thegioididong.com/may-tinh-bang/op...,Tablet,01,Oppo
1060,0109,0109,011061,OPPO Pad Air 64GB,6690000,6690000,0,53,None,https://www.thegioididong.com/may-tinh-bang/op...,Tablet,01,Oppo
1061,0158,0109,011062,Masstel Tab 10S,2690000,2890000,6,93,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,01,Masstel
1062,0158,0109,011063,Masstel Tab 10A,2690000,2790000,3,41,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,01,Masstel
1063,0158,0109,011064,Masstel Tab 8.2,2390000,2490000,4,43,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,01,Masstel

# Final Data

In [ ]:
current_dir = '/content/drive/MyDrive/mwg'

In [ ]:
brand_tgdd = read_csv('/thegioididong/transformed/brand/brands.csv')
#brand_dmx = read_csv('/dien_may_xanh/transformed/brand/brands.csv')

In [ ]:
brands = brand_tgdd \
         #.union(brand_dmx)

to_csv(brands.toPandas(), '/brands.csv')

In [ ]:
product_tgdd = read_csv('/thegioididong/transformed/product/products.csv')
#product_dmx = read_csv('/dien_may_xanh/transformed/product/products.csv')

In [ ]:
products = product_tgdd \
          # .union(product_dmx)

to_csv(products.toPandas(), '/products.csv')

In [ ]:
brand_d_tgdd = read_csv('/thegioididong/transformed/brand_details/brand_details.csv')
#brand_d_dmx = read_csv('/dien_may_xanh/transformed/brand_details/brand_details.csv')

In [ ]:
brand_details = brand_d_tgdd \
            #    .union(brand_d_dmx)

to_csv(brand_details.toPandas(), '/brand_details.csv')

In [ ]:
genre_tgdd = read_csv('/thegioididong/transformed/genre/genres.csv')
#genre_dmx = read_csv('/dien_may_xanh/transformed/genre/genres.csv')

In [ ]:
genres = genre_tgdd \
   #      .union(genre_dmx)

to_csv(genres.toPandas(), '/genres.csv')